<form [formGroup]="formRegister" (submit)="evaluaForm()">
    <input type="text" formControlName="nombre" placeholder="nombre"><br><br>
    <input type="text" formControlName="apellidos" placeholder="apellidos"><br><br>
    <input type="text" formControlName="password" placeholder="password"><br><br>
    <input type="text" formControlName="email" placeholder="email"><br><br>
    <input type="text" formControlName="dni" placeholder="dni"><br><br>
    <input type="text" formControlName="telefono" placeholder="telefono"><br>
    <button type="submit" [disabled]="!formRegister.valid">Registrar</button>
</form>
<br>
<br>
<form [formGroup]="formRegister2" (submit)="evaluaForm()">
    <input type="text" formControlName="nombre" placeholder="nombre"><br><br>
    <input type="text" formControlName="apellidos" placeholder="apellidos"><br><br>
    <input type="text" formControlName="password" placeholder="password"><br><br>
    <input type="text" formControlName="email" placeholder="email"><br><br>
    <input type="text" formControlName="dni" placeholder="dni"><br><br>
    <input type="number" formControlName="telefono" placeholder="telefono"><br>
    <button type="submit" [disabled]="!formRegister.valid">Registrar</button>
</form>
{{nombre1.errors |json}}
<div *ngIf="nombre1.invalid && (nombre1.dirty || nombre1.touched)" class="alert alert">
    <div *ngIf="nombre1.errors.required"> <p>El nombre es requerido</p></div>
    <div *ngIf="nombre1.errors.minlength"><p>El nombre tiene que tener al menos 3 letras</p></div> 
</div>
<div *ngIf="email1.invalid && email1.touched" class="alert alert-danger">
    <div *ngIf="email1.errors.required"><p>El e-mail es requerido</p></div>
    <div *ngIf="email1.errors.email"><p>Revisa tu e-mail</p></div>
</div>
